@{
    ViewBag.Title = "作业";
}

@using PIPOSKY2.Models;
@model Homework

<h2>@Model.HomeworkName</h2>
@{
    User tmp = Session["User"] as User;
    if ((tmp == null) || ((tmp.UserType != "admin") && (tmp.UserType != "editor")))
    {
    <table class="table table-striped">
        <tr>
            <th>题目ID</th>
            <th>题目名称</th>
            <th>上传用户</th>
        </tr>
        @{
        PIPOSKY2DbContext db = new PIPOSKY2DbContext();
        PIPOSKY2DbContext dbtemp = new PIPOSKY2DbContext();
        foreach (var i in db.HomeworkProblems.Where(p => p.HomeworkID == Model.HomeworkID))
        {
            <tr>
                <td>@i.ProblemID</td>
                <td>@Html.ActionLink(@dbtemp.Problems.Find(i.ProblemID).ProblemName, "Content", "Problem", new { id = @i.ProblemID }, null)</td>
                <td>@dbtemp.Problems.Find(i.ProblemID).Creator.UserName</td>
            </tr>
        }
        }
    </table>
    }
    else
    {
    <p>
        @Html.ActionLink("修改作业", "Edit", new { id = @Model.HomeworkID }, new { @class = "btn btn-default" })
    </p>
    <table class="table table-striped">
        <tr>
            <th>题目ID</th>
            <th>题目名称</th>
            <th>上传用户</th>
        </tr>
        @{
        PIPOSKY2DbContext db = new PIPOSKY2DbContext();
        PIPOSKY2DbContext dbtemp = new PIPOSKY2DbContext();
        foreach (var i in db.HomeworkProblems.Where(p => p.HomeworkID == Model.HomeworkID))
        {
            <tr>
                <td>@i.ProblemID</td>
                <td>@Html.ActionLink(@dbtemp.Problems.Find(i.ProblemID).ProblemName, "Content", "Problem", new { id = @i.ProblemID }, null)</td>
                <td>@dbtemp.Problems.Find(i.ProblemID).Creator.UserName</td>
            </tr>
        }
        }
    </table>
    }
}
