@{
    ViewBag.Title = "比赛";
}

@using PIPOSKY2.Models;
@model Contest

<h2>@Model.ContestName</h2>
@{
    User tmp = Session["User"] as User;
    if (tmp != null)
    {
        if ((tmp.UserType == "admin") || (tmp.UserType == "editor"))
        {
<p>
    @Html.ActionLink("修改比赛", "Edit", new { id = @Model.ContestID }, new {  @class="btn btn-default" })
</p>
        }
    }
}
<table class="table">
    <tr>
        <th>题目ID</th>
        <th>题目名称</th>
    </tr>
    @{
        PIPOSKY2DbContext db = new PIPOSKY2DbContext();
        PIPOSKY2DbContext dbtemp = new PIPOSKY2DbContext();
        foreach (var i in db.ContestProblems)
        {
            if (i.ContestID == Model.ContestID)
            {
                <tr>
                    <th>@i.ProblemID</th>
                    <th>@dbtemp.Problems.Find(i.ProblemID).ProblemName</th>
                </tr>
            }
        }
    }
</table>