@model PIPOSKY2.Models.User
@{
    ViewBag.Title = "Info";
}

<h2>Personal Info</h2>
@using (Html.BeginForm()){
    <div>
        <div>
            @Html.ActionLink("修改个人信息","EditInfo","User")
        </div>
        <div>
            @Html.LabelFor(m => m.UserName)
        </div>
        <div>
            @Html.DisplayFor(m => m.UserName)
        </div>
        <div>
            @Html.LabelFor(m => m.UserEmail)
        </div>
        <div>
            @Html.DisplayFor(m => m.UserEmail)
        </div>
        <div>
            @Html.ActionLink("修改密码","EditPwd","User")
        </div>
        <div>
            @Html.LabelFor(m => m.UserType)
        </div>
        <div>
            @Html.DisplayFor(m => m.UserType)
        </div>
        <div></div>
    </div>
}
