@model PIPOSKY2.Models.LoginFormModel
@{
    ViewBag.Title = "登陆";
}

<h2>Login</h2>
@using (Html.BeginForm()) { 
    <div>
        <div>
            <p>@Html.LabelFor(m => m.UserName)</p>
            @Html.TextBoxFor(m => m.UserName)
            <div>@Html.ValidationMessageFor(m => m.UserName)</div>
        </div>
        <div>
            <p>@Html.LabelFor(m => m.UserPwd)</p>
            @Html.PasswordFor(m => m.UserPwd)
            <div>@Html.ValidationMessageFor(m => m.UserPwd)</div>
        </div>
        <div>
            <p>@Html.LabelFor(m => m.KeepLogin)</p>
            @Html.CheckBoxFor(m => m.KeepLogin)
            <div>
            @Html.ValidationMessageFor(m => m.KeepLogin)
            </div>
        </div>
        <div>
            <input type="submit" value="Login" />
        </div>
    </div>
}
