@model PIPOSKY2.Models.LoginFormModel
@{
    ViewBag.Title = "登录";
}

<h2>登录</h2>
@using (Html.BeginForm())
{
    
    <div>
        <div class="form-group">
            <p>@Html.LabelFor(m => m.UserName)</p>
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            <div>@Html.ValidationMessageFor(m => m.UserName)</div>
        </div>
        <div class="form-group">
            <p>@Html.LabelFor(m => m.UserPwd)</p>
            @Html.PasswordFor(m => m.UserPwd, new { @class = "form-control" })
            <div>@Html.ValidationMessageFor(m => m.UserPwd)</div>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.KeepLogin)
                    保持登录
                        @Html.ValidationMessageFor(m => m.KeepLogin)
                </label>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Login" class="btn btn-default" />
            @Html.ActionLink("Register", "Reg", "User", new { @class = "btn btn-default" })
        </div>
    </div>
}
