@model PIPOSKY2.Models.RegFormModel
@{
    ViewBag.Title = "注册用户";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{

    <div class="form-group">
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.UserName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UserPwd)
        @Html.PasswordFor(m => m.UserPwd, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.UserPwd)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UserPwd2)
        @Html.PasswordFor(m => m.UserPwd2, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.UserPwd2)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UserEmail)
        @Html.TextBoxFor(m => m.UserEmail, new { @class = "form-control", @type = "email" })
        @Html.ValidationMessageFor(m => m.UserEmail)
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
}
