@model PIPOSKY2.Models.RegFormModel
@{
    ViewBag.Title = "注册用户";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()){

    <div class="form-group">
        @Html.LabelFor(m => m.UserName)
        @Html.EditorFor(m => m.UserName)
        @Html.ValidationMessageFor(m => m.UserName)
    </div>
<div class="form-group">
    @Html.LabelFor(m => m.UserPwd)
    @Html.EditorFor(m => m.UserPwd,new {@class="form-control"})
    @Html.ValidationMessageFor(m => m.UserPwd)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.UserPwd2)
    @Html.EditorFor(m => m.UserPwd2)
    @Html.ValidationMessageFor(m => m.UserPwd2)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.UserEmail)
    @Html.EditorFor(m => m.UserEmail)
    @Html.ValidationMessageFor(m => m.UserEmail)
</div>

<button type="submit" class="btn btn-default">Submit</button>
}
