@using PIPOSKY2.Models
@model Problem
@{
    ViewBag.Title = "Content";
}

<h2>@Model.ProblemName</h2>

<div class="well">
@Html.Raw(Model.Description)
</div>

<p>
    @Html.ActionLink("下载数据", "DownloadData", "Problem", new { id = @Model.ProblemID }, new { @class = "btn btn-default" })
    @Html.ActionLink("提交代码", "Create", "Submit", new { id = @Model.ProblemID }, new { @class = "btn btn-default" })
</p>
