@using PIPOSKY2.Models 
@model IEnumerable<Problem>
@{
    bool editRight = false;
    User tmp = Session["User"] as User;
    if ((tmp != null) && (tmp.UserType == "admin" || tmp.UserType == "editor"))
    {
         editRight = true;
    }
    PIPOSKY2DbContext db = new PIPOSKY2DbContext();
    PIPOSKY2DbContext dbtemp = new PIPOSKY2DbContext();
    int num = 1;
    ViewBag.Title = "题目列表";
} 
<h2>题目列表</h2> 
@{if (editRight)
{
    <p>
        @Html.ActionLink("上传题目", "Upload", "Problem", null, new { @class = "btn btn-default" })
        @Html.ActionLink("删除题目", "Delete", "Problem", null, new { @class = "btn btn-default" })
    </p>
    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>题目名称</th>
            <th>题目得分</th>
            <th>上传用户</th>
            <th>操作</th>
        </tr>
        @foreach (Problem i in Model)
        {   
            <tr>
                <td>@num</td>
                <td>@Html.ActionLink(@i.ProblemName, "Content", new { id = @i.ProblemID, type="Exam"})</td>        
                @{
                    if (tmp == null)
                    {
                        <td>无记录</td>
                    }
                    else
                    {
                        IQueryable<Submit> t = dbtemp.Submits.Where(s => s.Prob.ProblemID == i.ProblemID && s.User.UserID == tmp.UserID);
                        if (t.Count() == 0){ <td>无记录</td> }
                        else { <td>@t.ToList().Last().Score</td> }
                    }
                }
                <td>@i.Creator.UserName</td>
                <td>
                    @Html.ActionLink("编辑题目", "Edit", new { id= @i.ProblemID})
                    |
                    @Html.ActionLink("下载数据", "Download", new { id= @i.ProblemID})
                </td>
            </tr>
            num++;
        }
    </table>
}
else 
{
    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>题目名称</th>
            <th>题目得分</th>
        </tr>
        @foreach (Problem i in Model.Where(x=>x.Visible == true))
         {   
            <tr>
                <td>@num</td>
                <td>@Html.ActionLink(@i.ProblemName, "Content", new { id = @i.ProblemID, type="Exam"})</td>        
                @{
                    if (tmp == null)
                    {
                        <td>无记录</td>
                    }
                    else
                    {
                        IQueryable<Submit> t = dbtemp.Submits.Where(s => s.Prob.ProblemID == i.ProblemID && s.User.UserID == tmp.UserID);
                        if (t.Count() == 0) { <td>无记录</td> }
                        else { <td>@t.ToList().Last().Score</td> }
                    }
                }
            </tr>
            num++;
        }
    </table>
}}
<ul class="pagination">
      <li><a href="#">&laquo;</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">&raquo;</a></li>
</ul>
<script type="text/javascript">
    var options = {
        currentPage: 1,
        totalPages: $("tr").length - 1,
        numberOfPages: 5
    }
</script>
