@model PIPOSKY2.Models.SubmitFormModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {

    <div class="form-group">
        @Html.LabelFor(model => model.Lang)
        <select name="Lang" class="form-control">
            <option value="cpp">C++</option>
            <option value="java">Java</option>
        </select>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.PID)
        @Html.TextBoxFor(model => model.PID,new {@class ="form-control"})
        @Html.ValidationMessageFor(model => model.PID)
    </div>

    <div class="form-group">
        @Html.ValidationMessageFor(model => model.Source)
        @Html.TextAreaFor(model => model.Source,new {@class ="form-control",@id="SrcEdit",@rows=30})
    </div>
    <input type="submit" value="Create" />

}

