@model PIPOSKY2.Models.Submit

@{
    ViewBag.Title = "Details";
}

<table class="table">
    <tr>
        <td>@Model.User.UserName</td>
        <td>@Model.Prob.ProblemName</td>
        <td>@Model.SubmitID</td>
         <td colspan="2" title="@Model.CompilerRes">@Model.State</td>
    </tr>
    <tr>
        <th width="20%">得分</th>
        <th>详情</th>
        <th width="15%">时间</th>
        <th width="15%">内存</th>
    </tr>
        <tr>
            <th colspan=2>{{detail.3.0}}</th>
            <th>总分</th>
            <th>{{submit.Data}}</th>
            <th>BySQOJ</th>
        </tr>

        <tr><th colspan="4">空</th></tr>

</table>

<pre class="brush: {{ submit.Lang }}">@Model.Source</pre>

