@model PIPOSKY2.Models.Submit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Submit</legend>
     
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Lang)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lang)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Time)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Time)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Source)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Source)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.State)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.State)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Result)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Result)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.SubmitID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
