@model List<PIPOSKY2.Models.Submit>

@{
    ViewBag.Title = "评测状态";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create", "Create","Submit",new {@class="btn btn-default"})
</p>
<form>
    <label for="p">题目</label> 
    <input type="text" name="p" id="p"/>
    <label for="s">状态</label>
    <select name="s" id="s">
        <option value="">(未指定)</option>
        <option value="wait">等待</option>
        <option value="run">运行</option>
    </select>
    <input type="checkbox" name="rejudge" id="rejudge" value="on" />
    <label for="rejudge">重新评测</label>
    <input type="submit" />
</form>
<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>时间</th>
        <th>题目</th>
        <th>用户</th>
        <th>语言</th>
        <th>状态</th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubmitID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prob.ProblemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lang)
            </td>
            <td>
                @Html.ActionLink(item.State, "Details", new { id=item.SubmitID })
            </td>
        </tr>
}

</table>
